@import "variables";

:host {
  display: flex;
  padding: 0;
  flex-direction: column;
  position: absolute;
  background: white;
  z-index: 1;
  right: 0.75rem;
  top: 0.75rem;
}

.menu-item {
  padding: 0.75rem;
  border-bottom: 1px solid $border-light;

  &:last-child {
    border-bottom: 0;
  }
}