<header class="card-header">
  <p class="card-header-title">
    {{ manager.card.title }}
  </p>
  <button class="card-header-icon" aria-label="edit card" (click)="toggleContextMenu(); $event.stopPropagation()">
    <span class="icon">
      <i class="icofont-gear" aria-hidden="true"></i>
    </span>
  </button>
  <app-card-view-menu *ngIf="showContextMenu" (clickOutside)="toggleContextMenu()"></app-card-view-menu>
</header>
<div class="card-content">
  <div #content class="content">
    <p>{{ manager.card.content }}</p>
  </div>
</div>
<i *ngIf="!isUpdating; then showFormButtons else showLoading"></i>
<ng-template #showFormButtons>
  <footer class="card-footer">
    <a class="card-footer-item" 
      (click)="previousStep()"
      [class.is-disabled]="listContext.previous == null">
      <i class="icofont-arrow-left"></i>
    </a>
    <a class="card-footer-item" 
      (click)="nextStep()"
      [class.is-disabled]="listContext.next == null">
      <i class="icofont-arrow-right"></i>
    </a>
  </footer>
</ng-template>
<ng-template #showLoading>
  <app-loading-footer></app-loading-footer>
</ng-template>