@import "variables";

:host {
  position: relative;
  display: block;
}

.card-header-title {
  overflow: hidden;
}

.card-header-icon {
  font-weight: 900;
  font-size: 1.5rem;
}

.card-content {
  position: relative;

  & > .content {
    max-height: 12rem;
    min-height: 3rem;
    overflow-y: hidden;
  }

  &.content-too-big::after {
    content: "";
    display: block;
    background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
    height: 2rem;
    position: absolute;
    width: calc(100% - #{2 * $card-general-padding});
    bottom: $card-general-padding;
    pointer-events: none;
  }

  markdown {
    display: block;
  }
}