<form class="box" [formGroup]="loginForm" (ngSubmit)="performLogin()">
  <h2 class="is-size-2 has-text-primary">Let's Code – Kanban</h2>
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input" type="text" placeholder="Enter your username" formControlName="username">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" formControlName="password">
    </div>
  </div>

  <button class="button is-primary" type="submit" [disabled]="loginForm.disabled">Sign in</button>
</form>