$column-gap: 0.75rem;

$card-header-shadow: none;
$card-general-padding: 1rem;
$card-content-padding: 0 $card-general-padding $card-general-padding $card-general-padding;

$body-overflow-y: auto;

$grey:     hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);