/* You can add global styles to this file, and also import other style files */
@import "./scss/variables";
@import "bulma/bulma.sass";

html,
body {
  height: 100%;
}

.is-spinning {
  animation: spinAround 1s infinite linear;
}

.ng-submitted {
  .ng-invalid {
    @extend .is-danger;
  }
}

.card-footer-item.is-disabled {
  color: $grey-light;
  pointer-events: none;
}